* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

#fireworks {
  position: fixed;
  inset: 0;
  z-index: 0;
}

.container {
  position: relative;
  z-index: 1;
  display: flex;
  height: 100vh;
  padding: 40px;
  gap: 30px;
}

.text {
  width: 45%;
  overflow-y: auto;
}

.text h1 {
  margin-bottom: 20px;
}

.text p {
  margin-bottom: 20px;
  line-height: 1.6;
}

/* RIGHT SLIDESHOW */
.slideshow {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

/* SLIDE IMAGE */
.slide {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 14px;
  display: none;
}

/* ACTIVE SLIDE */
.slide.active {
  display: block;
}
@media (max-width: 900px) {
  .slideshow {
    width: 100%;
    height: 50vh;
  }
}

